.notice {
   
    border-radius: 5px;
    background-color: #eee;
    transform: all .3s;
}

.notice:hover {
    cursor: pointer;
    box-shadow: 0px 1px 2px #bbb , 1px 2px 3px #bbb , 2px 3px 4px #bbb ;
}

.notice:active{
    cursor: pointer;
    box-shadow: 0px 1px 2px #bbb inset , 1px 2px 3px #bbb inset, 2px 3px 4px #bbb inset, 3px 4px 5px #bbb inset;

}

