@import "../../../node_modules/line-awesome/dist/line-awesome/css/line-awesome.min.css";

.page-hero {
  scroll-behavior: smooth !important;
}

.arrowDown {
  transition: all 0.5s;
  transform: translateY(0);
}

.arrowDown:hover {
  transition: all 0.5s;
  transform: translateY(0.8rem);
}

.arrowUp {
  transition: all 0.5s;
  transform: translateY(0);
}

.arrowUp:hover {
  transition: all 0.5s;
  transform: translateY(-0.8rem);
}

.navbar-menu.isMobile {
  display: block;
  opacity: 0;

  position: absolute; /* or float: left; width: 100%;*/
  left: 0;
  right: 0;

  transform: translateY(-50%);
  transition: all 0.4s ease-in-out;
  pointer-events: none;
}

.navbar-menu.is-active.isMobile {
  opacity: 1;
  transform: none;
  pointer-events: auto;
}

.subjectCardAnim-enter {
  opacity: 0;
  transform: scale(0.9);
}
.subjectCardAnim-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.subjectCardAnim-exit {
  opacity: 1;
}
.subjectCardAnim-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}

.modal-spinner {
  overflow: hidden;
}

.trDark {
  background-color: #363636 !important;
  color: white !important;
  transition: all 0.3s;
}

.trDark:hover {
  background-color: #616161 !important;
  color: white !important;
  transition: all 0.3s;
}

.trLight {
  background-color: #f5f5f5 !important;
  color: #444242 !important;
  transition: all 0.3s;
}

.trLight:hover {
  background-color: #cacaca !important;
  color: #444242 !important;
  transition: all 0.3s;
}

$colora40e4c: "#a40e4c";
$color681d50: "#681d50";
$color2c2c54: "#2c2c54";
$color6c787d: "#6c787d";
$coloracc3a6: "#acc3a6";
$colord1cdb0: "#d1cdb0";
$colorf5d6ba: "#f5d6ba";
$colorf49d6e: "#f49d6e";

.colora40e4c,
.background-a40e4c {
  background-color: #a40e4c !important;
  color: white !important;
}

.color681d50,
.background-681d50 {
  background-color: #681d50 !important;
  color: white !important;
}

.color2c2c54,
.background-2c2c54 {
  background-color: #2c2c54 !important;
  color: white !important;
}

.color6c787d,
.background-6c787d {
  background-color: #6c787d !important;
  color: white !important;
}

.coloracc3a6,
.background-acc3a6 {
  background-color: #acc3a6 !important;
  color: #444242 !important;
}

.colord1cdb0,
.background-d1cdb0 {
  background-color: #d1cdb0 !important;
  color: #444242 !important;
}

.colorf5d6ba,
.background-f5d6ba {
  background-color: #f5d6ba !important;
  color: #444242 !important;
}

.colorf49d6e,
.background-f49d6e {
  background-color: #f49d6e !important;
  color: #444242 !important;
}

.modalAnim-enter {
  opacity: 0 !important;
  transform: scale(0.9) !important;
}
.modalAnim-enter-active {
  opacity: 1 !important;
  transform: translateX(0) !important;
  transition: opacity 300ms, transform 300ms !important;
}
.modalAnim-exit {
  opacity: 1 !important;
}
.modalAnim-exit-active {
  opacity: 0 !important;
  transform: scale(0.9) !important;
  transition: opacity 300ms, transform 300ms !important;
}

.modalAnim {
  width: 100px;
  height: 100px;
  background: #ff1c68;
  transform-origin: 50% 50%;
}

@import "../../../node_modules/bulma/bulma.sass";

$widthAmounts: (
  1,
  2.5,
  3,
  4,
  5,
  6,
  7
); // Just add the numbers here, you can use points too.
$widthUnit: "em"; // Add the unit here (rem|em|px|%)

@each $width in $widthAmounts {
  $i: index($widthAmounts, $width);
  .table thead th.is-#{$i} {
    width: #{$width}#{$widthUnit} !important;
  }
}

.box.scheduleCard {
  padding: 0 !important;
}

@import "../../../node_modules/bulma/sass/elements/table.sass";
